[submodule "MPU9250"]
	path = MPU9250
	url = https://github.com/bolderflight/MPU9250.git
[submodule "Sleep_n0m1"]
	path = Sleep_n0m1
	url = https://github.com/n0m1/Sleep_n0m1.git
[submodule "SparkFun_ADXL345_Arduino_Library"]
	path = SparkFun_ADXL345_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_ADXL345_Arduino_Library.git
[submodule "Adafruit_ADXL345"]
	path = Adafruit_ADXL345
	url = https://github.com/adafruit/Adafruit_ADXL345.git
